{% extends 'base.html' %}
{% load static %}

{% block cdnscript %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw=="
    crossorigin="anonymous" />
{% endblock %}

{% block content %}
<style>
    .myDiv {
        border: 5px outset black;
        background-color: yellow;
        text-align: center;
    }
</style>

<section class="section-container d-flex flex-column align-items-center text-center">
    <h1 class="animate__animated animate__tada semi-bold-font pt-4 text-center">Liat - Liat Jakun</h1>
    <a class="card custom-card zoom small-card link-unstyled" href="{% url 'tukerjakun:tuker' %}">
        <h2 class="m-0">
            <center>
                Tambahin Jakun
            </center>

        </h2>
    </a>
    <div class="m-4 mb-5 card-columns">
        {%for jaket in jakun%}
        <div class="card custom-card link-unstyled rainbow-card align-items-center inlinedis">
            <h3 class="m-0 text-center">
                👑 Milik <strong style="color:var(--main-black)">{{jaket.nama}}</strong> <br>
                🏛️ Makara <strong style="color:var(--main-black)">{{jaket.makara}}</strong> <br>
                🥼 Ukuran <strong style="color:var(--main-black)">{{jaket.ukuran}}</strong> <br>
                ☎️ Kontak <strong style="color:var(--main-black)">{{jaket.kontak}}</strong> <br>
            </h3>
        </div>
        {%endfor%}
    </div>
</section>
{% endblock %}

{% block userscript %}
<script src="{% static 'scripts/rainbowcard.js' %}"></script>
<script src="{% static 'scripts/imageerror.js' %}"></script>
{% endblock userscript %}