@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
:root {
  --main-red: #ee2f2f;
  --main-light-red: #ffcccc;
  --main-dark-red: #8f0101;
  --main-orange: #ff8a00;
  --main-light-orange: #ffe4c4;
  --main-dark-orange: #a35803;
  --main-yellow: #ffd900;
  --main-light-yellow: #FFF5C4;
  --main-dark-yellow: #A88F00;
  --main-green: #2fee59;
  --main-light-green: #ccffce;
  --main-dark-green: #028a1f;
  --main-blue: #2f92ee;
  --main-light-blue: #ccf6ff;
  --main-dark-blue: #0b00a8;
  --main-purple: #8f00ff;
  --main-light-purple: #e9d5ff;
  --main-dark-purple: #67028f;
  --main-violet: #ff00a8;
  --main-light-violet: #ffd7ef;
  --main-dark-violet: #8f0047;
  --main-gray: #333333;
  --main-black: #222222;
  --main-white: #fffbef;
}

.light-text{
  color: var(--main-white);
}

.dark-text{
  color: var(--main-black);
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: var(--main-white);
}

* {
  box-sizing: border-box;
}

/*Section container*/
.section-container{
  margin: 0;
  padding: 0;
  position: relative;
  hyphens: auto;
  width: 100%;
  /* height: auto; */
  min-height: 100vh;
  justify-content: center;
  color: var(--main-gray);  
}

/*Hover large item*/
.large-hover{
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  transition: transform 0.8s;
}

.large-hover:hover{
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
  transition: transform 1s;
}

/*Horizontal line*/
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  display: block;
  border-top: 2px solid var(--main-dark-yellow);
}

/* Card */
.custom-card{
  background-color: var(--main-light-yellow);
  width: 70vw;
  margin: 10px;
  padding: 10px;
  border-radius: 1em; /* 5px rounded corners */
  
  box-shadow: 5px 5px var(--main-yellow);
  -webkit-box-shadow: 5px 5px var(--main-yellow);

  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  transition: 0.6s;
}

.covid-card {
  border-radius: 1em;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  transition: 0.6s;
}

.event-card {
  border-radius: 1em;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  transition: 0.6s;
  height: stretch !important;
}

.last-event-card {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.event-card-link {
  text-decoration: none;
  color: var(--main-black);
}

.event-card-link:hover {
  text-decoration: none;
  color: var(--main-black);
}

.ellipsis-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.disabled-card {
  pointer-events: none;
  cursor: default;
}

.red {
  background-color: var(--main-light-red);
  box-shadow: 5px 5px var(--main-red); 
  -webkit-box-shadow: 5px 5px var(--main-red);
}

.orange {
  background-color: var(--main-light-orange);
  box-shadow: 5px 5px var(--main-orange); 
  -webkit-box-shadow: 5px 5px var(--main-orange);
}

.yellow {
  background-color: var(--main-light-yellow);
  box-shadow: 5px 5px var(--main-yellow); 
  -webkit-box-shadow: 5px 5px var(--main-yellow);
}

.green {
  background-color: var(--main-light-green);
  box-shadow: 5px 5px var(--main-green); 
  -webkit-box-shadow: 5px 5px var(--main-green);
}

.blue {
  background-color: var(--main-light-blue);
  box-shadow: 5px 5px var(--main-blue); 
  -webkit-box-shadow: 5px 5px var(--main-blue);
}

.purple {
  background-color: var(--main-light-purple);
  box-shadow: 5px 5px var(--main-purple); 
  -webkit-box-shadow: 5px 5px var(--main-purple);
}

.violet {
  background-color: var(--main-light-violet);
  box-shadow: 5px 5px var(--main-violet); 
  -webkit-box-shadow: 5px 5px var(--main-violet);
}

.send-button {
  width: 100%;
}

.case-icon {
  font-size: 5em;
  margin-bottom: 0.25em;
}

.case-type {
  font-size: 1.25em;
  font-weight: bold;
}

.case-count {
  font-size: 2em;
  font-weight: bold;
}

.card-img-top{
  margin: 1em;
  border-radius: 1em; /* 5px rounded corners */
  border-style: solid;
  border-color: var(--main-dark-yellow);
  border-width: 2px;
}

.semi-bold-font{
  font-weight: 700;
}

.bold-font{
  font-weight: 800;
}

.small-card{
  width: 40vw;
}

.medium-card{
  width: 55vw;
}

.asteriskField{
  display: none;
}

label{
  font-weight: 500;
}

.link-unstyled{
  color: var(--main-gray);
  transition: all 0.3s;
}

.link-unstyled:hover{
  color: var(--main-black);
  text-decoration: none;
  transition: all 0.3s;
}

.zoom:hover{
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
  transition: 1s;
}

p{
  margin: 0;
  padding: 0;
}

b{
  margin: 0;
  padding: 0;
}

.card-columns{
  column-gap: 40px;
}

.inlinedis{
  display: inline-block !important;
}

@media screen and (min-width: 641px) {
  h1 {
    font-size: 3.5vw;
    font-weight: 300;
  }
  h2 {
    font-size: 2vw;
  }
  h3 {
    font-size: 1.5vw;
  }
  p{ 
    font-size: 15px;
  }
  .random-message{
    font-size: 20px;
  }
  .large-hide{
    display: none;
  }
}

@media screen and (max-width: 640px) {
  h1 {
    font-size: 5vw;
  }
  h2 {
    font-size: 5vw;
  }
  h3 {
    font-size: 4vw;
  }
  p{ 
    font-size: 20px;
  }
  .custom-card{
    width: 90vw;
  }
  .large-hide{
    display: block;
  }
}

@media screen and (max-width: 1025px) {
  .section-header {
    font-size: 4vw;
  }
  .case-icon {
    font-size: 4em;
    margin-bottom: 0.25em;
  }
  .case-type {
    font-size: 0.9em;
    font-weight: bold;
  }
  .case-count {
    font-size: 1.5em;
    font-weight: bold;
  }
}

@media screen and (max-width: 480px) {
  .home-header {
    font-size: 5vw;
  }
  .random-message {
    font-size: 4vw;
  }
  .section-header {
    font-size: 5vw;
  }
}
