{% extends 'base.html' %}

{% load static %}

{% block cdnscript %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw=="
    crossorigin="anonymous" />
{% endblock %}

{% block content %}

<section class="section-container d-flex flex-column align-items-center text-center">
    <h1 class="animate__animated animate__pulse semi-bold-font pt-4 text-center">Detail Benda</h1>
    <div class="card custom-card zoom small-card link-unstyled rainbow-card m-3 align-items-center">

        <img id="img-preview" src="{{ barang.gambar }}" alt="Preview" class="card-img-top"
            style="width: 70%; max-height: 600px; object-fit: cover; object-position: 50% 0;">
        <label id="img-warning" style="display: none; color: var(--main-red);">Gambar tidak tersedia!</label>
        <h3 class="m-0 text-center">
            <strong style="color:var(--main-black)">{{ barang.nama }}</strong><br>
            <hr>
            💸 Harga <strong style="color:var(--main-black)">{{ barang.harga }}</strong> <br>
            🌐 Lokasi <strong style="color:var(--main-black)">{{ barang.lokasi }}</strong> <br>
            👑 Pemilik <strong style="color:var(--main-black)">{{ barang.pemilik }}</strong> <br>
            📞 Kontak <strong style="color:var(--main-black)">{{ barang.kontak }}</strong> <br>
            📚 Deskripsi <strong style="color:var(--main-black)">{{ barang.deskripsi }}</strong> <br>
        </h3>

        <div class="row">
            <div class="col-6 align-items-center">
                <form method="POST">
                    {% csrf_token %}
                    <input name="flag" hidden>
                    <button type="submit" class="card custom-card zoom small-card link-unstyled align-items-center"
                        style="width: 90%;">
                        <b>Flag as Taken</b>
                    </button>
                </form>
            </div>
            <div class="col-6 align-items-center">
                <form method="POST">
                    {% csrf_token %}
                    <input name="status" hidden>
                    <button type="submit" class="card custom-card zoom small-card link-unstyled align-items-center"
                        style="width: 90%;">
                        <b>Status Daerah</b>
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block userscript %}
<script src="{% static 'scripts/randomcard.js' %}"></script>
<script src="{% static 'scripts/imageerror.js' %}"></script>
{% endblock userscript %}