{% extends 'base.html' %}

{% load static %}
{% block style%}
<script src="https://kit.fontawesome.com/39a0e2d345.js" crossorigin="anonymous"></script>
<link href="{% static 'css/colorpallete.css' %}" rel="stylesheet" type="text/css" />
<style>
    .card-red{
        background-color: var(--main-light-red);
        box-shadow: 5px 5px var(--main-red);
        -webkit-box-shadow: 5px 5px var(--main-red);
    }
    .card-blue{
        background-color: var(--main-light-blue);
        box-shadow: 5px 5px var(--main-blue);
        -webkit-box-shadow: 5px 5px var(--main-blue);
    }
    .card-green{
        background-color: var(--main-light-green);
        box-shadow: 5px 5px var(--main-green);
        -webkit-box-shadow: 5px 5px var(--main-green);
    }
</style>

{% block cdnscript %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw=="
  crossorigin="anonymous" />
{% endblock %}

{% endblock style %}

{% block content %}

<section class="section-container d-flex flex-column align-items-center text-center">
    <h1 class="animate__animated animate__pulse semi-bold-font pt-4 text-center">{{data.key}}</h1>
    <div class="row p-3 pr-5">
        <div class = "col-md-3">
            <div class = "card custom-card small-card link-unstyled rainbow-card m-3 align-items-center card-blue" style="width: 100%;" >
                <h1><i class="fas fa-ambulance"></i></h1>
                Terkonfirmasi:<br>
                <b>{{data.jumlah_kasus}}</b>
            </div>
        </div>
        <div class = "col-md-3">
            <div class = "card custom-card small-card link-unstyled rainbow-card m-3 align-items-center" style="width: 100%;" >
                <h1><i class="fas fa-hospital"></i></h1>
                Dirawat:<br>
                <b>{{data.jumlah_dirawat}}</b>
            </div>
        </div>
        <div class = "col-md-3">
            <div class = "card custom-card small-card link-unstyled rainbow-card m-3 align-items-center card-green" style="width: 100%;" >
                <h1><i class="fas fa-hand-holding-medical"></i></h1>
                Sembuh:<br>
                <b>{{data.jumlah_sembuh}}</b>
            </div>
        </div>
        <div class = "col-md-3">
            <div class = "card custom-card small-card link-unstyled rainbow-card m-3 align-items-center card-red" style="width: 100%;" >
                <h1><i class="fas fa-pray"></i></h1>
                Meninggal:<br>
                <b>{{data.jumlah_meninggal}}</b>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block userscript %}
<script src="{% static 'scripts/rainbowcard.js' %}"></script>
{% endblock userscript %}