{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block cdnscript %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw=="
  crossorigin="anonymous" />
{% endblock %}

{% block content %}

<section class="section-container d-flex flex-column align-items-center text-center">
    <div class = "card custom-card small-card link-unstyled m-3 ml-5 p-3 text-left">
        <form method="POST" action="{% url 'PassingBarang:tambah' %}" >
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-success"type="submit" value="Submit">
        </form>
    </div>
</section>
{% endblock content %}

{% block userscript %}
<script src="{% static 'scripts/rupiah.js' %}"></script>
{% endblock userscript %}