{% extends 'base.html' %}

{% load static %}

{% block cdnscript %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw=="
  crossorigin="anonymous" />
{% endblock %}

{% block content %}
<section class="section-container d-flex flex-column align-items-center text-center">
    
    <h1 class="animate__animated animate__tada semi-bold-font pt-4">Liat-Liat Pertemuan</h1>

    {% include 'messages.html' %}
    
    {% for pertemuan in pertemuans %}
        <a class="card custom-card zoom small-card link-unstyled rainbow-card m-3" href="{% url 'kenalan:detail_pertemuan' id=pertemuan.id%}">
            <h2 style="font-weight: 700;">
                📢 {{ pertemuan }}
            </h2>
            
            <h3 class="m-0">
                👑 oleh {{ pertemuan.pembuat|default:" " }}  <br>
                📆 {{ pertemuan.waktu_mulai|date:'l, d E Y' }} <br>
                ⏰ Pukul {{ pertemuan.waktu_mulai|date:'H:i' }} <br>
                ⏲️ {{ pertemuan.durasi }}
            </h3>
        </a>
    {% endfor %}
    
    
</section>

{% endblock content %}

{% block userscript %}
<script src="{% static 'scripts/rainbowcard.js' %}"></script>
{% endblock userscript %}