{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}


{% block cdnscript %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw=="
  crossorigin="anonymous" />
{% endblock %}

{% block style %}
    <link href="{% static 'css/komentar.css' %}" rel="stylesheet" type="text/css"></link>
{% endblock style %}

{% block content %}
<section class="section-container d-flex flex-column dark-color align-items-center">
    <h1 class="animate__animated animate__pulse semi-bold-font pt-4 text-center">Meski Pandemi <br> Masih Bisa Nongki</h1>

    {% include 'messages.html' %}

    <div class="card custom-card small-card d-flex align-items-center justify-content-between dark-text">
        <!-- {{user.is_authenticated}} -->
        <!-- {{full_name}} -->
        <div class="d-flex flex-row justify-content-around m-2 light-text" style="width: 95%;">
            <a class="btn btn-primary" href="{% url 'kenalan:detail_pertemuan' id=prev_pertemuan %}">
                <i class="far fa-hand-point-left"></i> Prev
            </a>
            <a class="btn btn-secondary" href="{% url 'kenalan:daftar_pertemuan' %}">
                Kembali
            </a>
            <a class="btn btn-primary" href="{% url 'kenalan:detail_pertemuan' id=next_pertemuan %}">
                Next <i class="far fa-hand-point-right"></i>
            </a>
        </div>

        <h2 style="font-weight: 700;"> 📢 {{ pertemuan }}</h2>

        {% if user.is_authenticated %}
        <div class="d-flex flex-row justify-content-center m-2 light-text" style="width: 95%;">
            <form class="mr-2" action="{% url 'kenalan:toggle_hadir' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="pertemuan" value={{pertemuan.id}}>
                <input type="hidden" name="peserta" value={{user.id}}>
                {% if cant_register %}
                <button class="btn btn-danger" type="submit">
                    <i class="far fa-calendar-times"></i> Batal hadir
                </button>
                {% else %}
                <button class="btn btn-success" type="submit">
                    <i class="far fa-calendar-plus"></i> Hadir
                </button>
                {% endif %}
            </form>

            {% if user.id == pertemuan.pembuat.id %}
            <form class="ml-2" action="{% url 'kenalan:hapus_pertemuan' id=pertemuan.id %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="pembuat" value={{user.id}}>
                <button class="btn btn-danger" type="submit">
                    <i class="far fa-trash-alt"></i> Hapus
                </button>
            </form>
            {% endif %}

        </div>
        {% endif %}
        <h3 class="m-2 text-center">👥 : {{kapasitas}}</h3>
        <img id="img-preview" src="{{pertemuan.gambar}}" alt="Preview" class="card-img-top"
            style="width: 70%; max-height: 200px; object-fit: cover; object-position: 50% 0;">
        <label id="img-warning" style="display: none; color: var(--main-red);">Gambar tidak tersedia!</label>
        <h3 class="m-0 text-center">
            👑 oleh <strong style="color:var(--main-dark-blue)">{{ pertemuan.pembuat|default:" " }}</strong> <br>
            📆 {{ pertemuan.waktu_mulai|date:'l, d E Y' }} <br>
            ⏰ Pukul {{ pertemuan.waktu_mulai|date:'H:i' }} <br>
            ⏲️ {{ pertemuan.durasi }}
            <br> <br>
            <strong>Daftar Peserta:</strong> <br>
            {% for peserta in all_peserta %}
            {{peserta}} <br>
            {% endfor %}
        </h3>
        <hr>
            {% for komentar in komentars %}
            <div class="m-1 zoom comment comment-{% if komentar.penulis.id == user.id %}self{% else %}others{% endif %} {{komentar.penulis.color}}" style>
                <strong style="color: var(--main-dark-{{komentar.penulis.color}});">
                    {{komentar.penulis}}
                </strong>
                <div style="color: var(--main-black);">
                    {{komentar.konten}}
                </div>
            </div>
            {% endfor %}
        <form action="{% url 'kenalan:tambah_komentar' id=pertemuan.id %}" method="post">
            {% csrf_token %}
            {{ komentar_form.konten|as_crispy_field }}
            <button class="btn btn-success" type="submit">
                Submit <i class="fas fa-paper-plane"></i>
            </button>
        </form>
    </div>
</section>

{% endblock %}
{% block userscript %}
<script src="{% static 'scripts/imageerror.js' %}"></script>
{% endblock userscript %}