<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' type='image/x-icon' %}">
  <meta charset="utf-8" />
  <meta name="keywords" content="UImate!" />
  <meta name="author" content="UImateDev" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta name="description" content="{{ description }}" />
  <title>{{ title }}</title>

  <!-- jQuery -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
    crossorigin="anonymous" />

  {% block cdnscript %} {% endblock %}

  <!-- Styling -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'css/nav.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'css/footer.css' %}" rel="stylesheet" type="text/css" />
  {% block style %} {% endblock %}

</head>

<body>

  {% include "nav.html" %}

  {% block content %} {% endblock %}

  {% include "footer.html" %}
</body>

<script src="{% static 'scripts/scroll.js' %}"></script>
{% block userscript %} {% endblock %}

</html>