{% load static %}

<footer class="footer-container d-flex flex-column align-items-center text-center">
  <p class="mt-4">Made with 💖 in Indonesia</p>
  <p >Copyright © UImate 2020.</p>  
  <p class="mb-4">All rights reserved.</p>  
</footer>

