{% if messages %}
    <ul class="messages container mt-4 mb-0" style="list-style: none;">
        {% for message in messages %}
        {% if message.tags == "error" %} <li  class="alert alert-danger alert-dismissible fade show" >
        {% else %} <li  class="alert alert-{{ message.tags }} alert-dismissible fade show" >{% endif %}
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </li>
        {% endfor %}
    </ul>
{% endif %}