
<nav id="main-navbar" class="navbar navbar-expand-lg sticky-top {%if stickynav %}sticky{%endif%}">

  <a class= "navbar-brand nav-link" href="/">💛 UImate</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
      class="navbar-toggler-icon">
      <i class="fas fa-bars" style="color:#fff; font-size:28px;"></i>
    </span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="nav navbar-nav ml-auto navbar-right">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'main:home' %}"><strong>Beranda</strong></a>
      </li>

      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'sso_ui:profile' %}"><strong>Profil</strong></a>
      </li>
      {% endif %}

      <li class="nav-item">
        <a class="nav-link" href="{% url 'kenalan:index' %}"><strong>Kenalan</strong></a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="{% url 'PassingBarang:index' %}"><strong>Waris Barang</strong></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'tukerjakun:tukerjakun' %}"><strong>Tukar Jakun</strong></a>
      </li>

      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'sso_ui:logout' %}"><strong>Log out</strong></a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'sso_ui:login' %}"><strong>Log in</strong></a>
      </li>
      {% endif %}
    </ul>


  </div>

</nav>