{% extends 'base.html' %}


{% load static %}
{% load crispy_forms_tags %}


{% block cdnscript %}
<!-- Slick Carousel -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
  integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
  crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"
  integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw=="
  crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
  integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
  crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw=="
  crossorigin="anonymous" />
{% endblock %}


{% block style %}
<link href="{% static 'css/carousel.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block content %}
<div class="section-container">
  <!-- Homepage header -->
  <div class="container-fluid padding pl-5 pr-5">
    <div class="row text-center m-3">
      <div class="animate__animated animate__swing dark-text col-12">
        <h1 class="home-header semi-bold-font">{{random_emoji}} Selamat Datang {{random_emoji}}</h1>
        <h1 class="home-header semi-bold-font">
          {% if user.is_authenticated %}{% if user.get_full_name %}{{ user.get_full_name }}!{% else %}Pengguna
          Misterius!{% endif %}{% else %}Pahlawan Muda!{% endif %}
        </h1>
      </div>
    </div>
  </div>

  <!-- Random message -->
  <div class="container-fluid padding pl-5 pr-5">
    <div class="row text-center m-3">
      <div class="animate__animated animate__pulse random-color col-12">
        <p class="random-message">"{% if random_pesan %}{{ random_pesan.content }}{% else %}Bukan mager, tapi lagi <i>Power Saving Mode</i> ⚡{% endif %}"</p>      <b class="random-message">{% if random_pesan %}{{random_pesan.author}}{% else %}Rumput yang Bergoyang 🌿{% endif %}</b>
      </div>
    </div>
  </div>

  <!-- Message sender -->
  <div class="container-fluid padding pl-5 pr-5">
    <form action="{% url 'main:kirim_pesan' %}" method="POST"> {% csrf_token %}
      <div class="row center m-3">
        <div class="col-md-10 col-sm-12">
          {{ forms.content|as_crispy_field }}
        </div>
        <div class="col-md-2 col-sm-12">
          <button class="btn btn-success light-text send-button" type="submit">Kirim <i class="fa fa-arrow-circle-right"></i></button>
        </div>
        <input type="hidden" name="author" value="{{ user.id }}">
      </div>
    </form>
  </div>

  <!-- Message prompt -->
  {% include 'messages.html' %}

  <!-- COVID-19 updates -->
  <div class="container-fluid padding pl-5 pr-5 pt-1">
    <div class="dark-text row m-3">
      <h2 class="section-header semi-bold-font">Kondisi terkini COVID-19 di Indonesia...</h2>
    </div>

    <div class="row center padding dark-text m-3">
      <!-- Terkonfirmasi -->
      <div class="flex col-md-3 col-sm-6 col-xs-12 p-2">
        <div class="card covid-card large-hover blue text-center">
          <div class="card-body">
            <i class="case-icon icon fa fa-ambulance"></i>
            <p class="case-type">Terkonfirmasi</p>
            <p class="case-count">{{ data_covid.jumlah_positif }}</p>
          </div>
        </div>
      </div>

      <!-- Dirawat -->
      <div class="flex col-md-3 col-sm-6 col-xs-12 p-2">
        <div class="card covid-card large-hover yellow text-center">
          <div class="card-body">
            <i class="case-icon icon fa fa-hospital"></i>
            <p class="case-type">Dirawat</p>
            <p class="case-count">{{ data_covid.jumlah_dirawat }}</p>
          </div>
        </div>
      </div>

      <!-- Sembuh -->
      <div class="flex col-md-3 col-sm-6 col-xs-12 p-2">
        <div class="card covid-card large-hover green text-center">
          <div class="card-body">
            <i class="case-icon icon fa fa-hand-holding-medical"></i>
            <p class="case-type">Sembuh</p>
            <p class="case-count">{{ data_covid.jumlah_sembuh }}</p>
          </div>
        </div>
      </div>

      <!-- Meninggal -->
      <div class="flex col-md-3 col-sm-6 col-xs-12 p-2">
        <div class="card covid-card large-hover red text-center">
          <div class="card-body">
            <i class="case-icon icon fa fa-pray"></i>
            <p class="case-type">Meninggal</p>
            <p class="case-count">{{ data_covid.jumlah_meninggal }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Upcoming events -->
  {% if newest_pertemuans %}
  <div class="container-fluid padding pl-5 pr-5 pt-2">
    <div class="row m-3">
      <h2 class="section-header bold-font">Sebentar lagi akan ada acara ini...</h2>
    </div>

    <div class="row center padding dark-text m-3">
      <div class="col-12 slick-carousel">
        {% for pertemuan in newest_pertemuans %}
        <div class="flex event-card p-2">
          <a class="event-card-link" href="{% url 'kenalan:detail_pertemuan' id=pertemuan.id %}">
            <div class="card event-card large-hover rainbow-card">
              <div class="card-body event-card-content">
                <h4 class="ellipsis-overflow">📢 {{ pertemuan.nama }}</h4>
                <p class="ellipsis-overflow">👑 oleh {{ pertemuan.pembuat|default:" " }}</p>
                <p class="ellipsis-overflow">📆 {{ pertemuan.waktu_mulai|date:'l, d E Y' }}</p>
                <p class="ellipsis-overflow">⏰ Pukul {{ pertemuan.waktu_mulai|date:'H:i' }}</p>
                <p class="ellipsis-overflow">⏲️ {{ pertemuan.durasi }}</p>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
        <div class="flex event-card p-2">
          <a class="event-card-link" href="{% url 'kenalan:daftar_pertemuan' %}">
            <div class="card last-event-card">
              <div class="card-body">
                <h4>Lihat semuanya</h4>
                <p>Klik di sini <i class="fa fa-arrow-circle-right"></i></p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <!-- Barang Pilihan -->
  {% if barang_pilihan %}
  <div class="container-fluid padding pl-5 pr-5">
    <div class="row m-3">
      <h2 class="section-header bold-font">Ambil sebelum keduluan...</h2>
    </div>

    <div class="row center padding dark-text m-3">
      <div class="col-12 slick-carousel">
        {% for barang in barang_pilihan %}
        <div class="flex event-card p-2">
          <a class="event-card-link" href="{% url 'PassingBarang:detil' id_number=barang.id%}">
            <div class="card event-card large-hover rainbow-card">
              <div class="card-body event-card-content">
                <h4 class="ellipsis-overflow">📦 {{ barang.nama }}</h4>
                <p class="ellipsis-overflow">👑 milik {{ barang.pemilik }}</p>
                <p class="ellipsis-overflow">💵 {{ barang.harga }}</p>
                <p class="ellipsis-overflow">📌 {{ barang.lokasi }}</p>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
        <div class="flex event-card p-2">
          <a class="event-card-link" href="{% url 'PassingBarang:index' %}">
            <div class="card last-event-card">
              <div class="card-body">
                <h4>Lihat semuanya</h4>
                <p>Klik di sini <i class="fa fa-arrow-circle-right"></i></p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <!-- Carousel Jakun -->
  {% if daftar_jakun %}
  <div class="container-fluid padding pl-5 pr-5">
    <div class="row m-3">
      <h2 class="section-header bold-font">Jakun kegedean? Kekecilan? Tenang...</h2>
    </div>

    <div class="row center padding dark-text m-3">
      <div class="col-12 slick-carousel">
        {% for jakun in daftar_jakun %}
        <div class="flex event-card p-2">
          <a class="event-card-link disabled-card">
            <div class="card event-card large-hover rainbow-card">
              <div class="card-body event-card-content">
                <h4 class="ellipsis-overflow">{{ jakun.makara }}</h4>
                <p class="ellipsis-overflow">👑 milik {{ jakun.nama }}</p>
                <p class="ellipsis-overflow">📏 ukuran {{ jakun.ukuran }}</p>
                <p class="ellipsis-overflow">☎️ {{ jakun.kontak }}</p>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
        <div class="flex event-card p-2">
          <a class="event-card-link" href="{% url 'tukerjakun:tukerjakun' %}">
            <div class="card last-event-card">
              <div class="card-body">
                <h4>Lihat semuanya</h4>
                <p>Klik di sini <i class="fa fa-arrow-circle-right"></i></p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock content %}

{% block userscript %}
<script src="{% static 'scripts/rainbowcard.js' %}"></script>
<script src="{% static 'scripts/slick.js' %}"></script>
<script src="{% static 'scripts/randomcolor.js' %}"></script>
{% endblock userscript %}