{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}
<section class="section-container d-flex flex-column align-items-center text-center" id="biodata">
  {% if user.is_authenticated %}
  <img id="img-preview" class="m-3" src="https://avatarfiles.alphacoders.com/901/thumb-90193.png" alt="Preview"
    style="border-radius: 50%; border-style: solid; height: 150px; width: 150px; object-fit: cover; object-position: 50% 0;">
  <h1 style="font-weight: 700; color: var(--main-{{ profile.color }});
	-webkit-text-stroke: 0.7px var(--main-dark-{{ profile.color }});
	-webkit-text-fill-color: var(--main-{{ profile.color }});">{{ profile }}</h1>
  {% if profile.study_program %}
  <h3>Jurusan {{ profile.study_program }}</h3>
  {% endif %}
  {% if profile.faculty %}
  <h3>Fakultas {{ profile.faculty }}</h3>
  {% endif %}
  <form method="POST" action="{% url 'sso_ui:profile' %}" class="card custom-card small-card align-items-center" >
      {% csrf_token %}
      <div class="d-flex flex-row align-items-center justify-content-center">
        <style>
          #div_id_color{
            margin: 0;
            margin-right: 5px;
          }
        </style>
        {{ form.color | as_crispy_field }}
        <input class="btn btn-success" type="submit" value="Ganti Warna">
      </div>
  </form>
  {% if pertemuans %}
  <h2 style="font-weight: 700;">Pertemuan yang akan dihadiri</h2>
  {%for pertemuan in pertemuans %}

  <a class="card custom-card zoom small-card link-unstyled rainbow-card m-3 text-center"
    href="{% url 'kenalan:detail_pertemuan' id=pertemuan.id%}">
    <h2 style="font-weight: 700;">
      📢 {{ pertemuan }}
    </h2>

    <h3 class="m-0">
      👑 oleh {{ pertemuan.pembuat|default:" " }} <br>
      📆 {{ pertemuan.waktu_mulai|date:'l, d E Y' }} <br>
      ⏰ Pukul {{ pertemuan.waktu_mulai|date:'H:i' }} <br>
      ⏲️ {{ pertemuan.durasi }}
    </h3>
  </a>
  {% endfor %}
  {% endif %}
  {% else %}
  <a class="card custom-card zoom small-card link-unstyled text-center" href="{% url 'sso_ui:login' %}">
    <h2 class="m-0">
      Log in dengan akun UI-mu untuk melihat profil! 😄
    </h2>
  </a>
  {% endif %}
</section>
{% endblock content %}
{% block userscript %}
<script src="{% static 'scripts/rainbowcard.js' %}"></script>
{% endblock userscript %}